@import './smart-grid';

@include reset();

body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.ps {
    font-style: italic;
    font-size: 14px;
}

.row-inner {
    display: flex;
    flex-wrap: wrap;
}

.form {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;

    &-input {
        width: 100%;
        box-sizing: border-box;
        padding: 15px 20px;
        font-size: 20px;
        margin: 10px 0;
        border: 2px solid grey;

        &:focus {
            outline: none;
        }
    }
}

.container {
    @include wrapper();
}

.show-xs {
    display: none;
    @include xs(display, block);
}

.show-sm {
    display: none;
    @include sm(display, block);
}

.hide-sm {
    @include sm-block {
        display: none !important;
    };
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.title-primary {
    font-size: 50px;
    color: #333;
    text-align: center;
    z-index: -1;

    @include sm-block {
        font-size: 40px;
    }

    @include xs-block {
        font-size: 24px;
    }

    &.white {
        color: #fff;
    }

}

.title-secondary {
    font-size: 25px;
    line-height: 34px;
    font-weight: normal;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;

    @include sm-block {
        font-size: 22px;
        line-height: 25px;
    }

    @include xs-block {
        font-size: 18px;
        line-height: 23px;
    }

    &.white {
        color: #fff;
    }

}

.title-tertiary {
    font-size: 23px;
    color: #333;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;

    @include sm-block {
        font-size: 20px;
    }
}

.hr {
    width: 300px;
    height: 3px;
    background-color: #333;
    margin: 30px auto;
}

.row {
    @include row-flex();
}

.text-center {
    text-align: center;
}

.btn-primary {
    color: #ffffff;
    font-size: 22px;
    border-radius: 100px;
    border: none;
    padding: 20px 30px;
    background-color: #5500ff;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    box-shadow: 0px 0px 30px 3px rgba(119,81,197,0.6);
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;

    img {
        width: 60px;
        position: absolute;
        top: 0%;
        transform: translateY(-50%);
        right: 0px;
    }

    &:hover {
        background-color: #7840ab;
    }

    &:focus {
        outline: none;
    }

    @media only screen and (max-width: 576px) {
        font-size: 16px;
        line-height: 1;
        letter-spacing: 0.5px;
        border-width: 0px;
    }
}