@import './navbar';
@import './smart-grid';
@import './modal';
@import './mixins';

$color-primary: #f9eb2d;

header {
    background: url(../img/table.jpg) no-repeat 79% bottom;
    background-size: 45%;
    min-height: 60vh;


    .header-top {
        display: flex;

        .date, .left {
            display: flex;
            align-items: center;
        }

        .date {
            margin-right: 30px;
            font-size: 20px;

            span {
                font-size: 16px;
                display: block;
            }

            .icon {
                width: 45px;
            }

            .count {
                color: #f43076;
                font-size: 41px;
                font-weight: bold;
            }
        }

        .left {
            font-size: 19px;
            
            .icon {
                width: 70px;
                margin-right: 20px;
            }

            b {
                font-size: 22px;
            }
        }

        @include md-block {
            .date {
                font-size: 20px;
    
                span {
                    font-size: 16px;
                }
    
                .count {
                    font-size: 42px;
                }
            }

            .left {
                font-size: 20px;
    
                b {
                    font-size: 21px;
                }
            }
        }

        @include sm-block {
            flex-direction: column;
            align-items: flex-start;
            text-align: left;

            .date {
                margin-right: 0;
                margin-bottom: 8px;
                font-size: 16px;
    
                span {
                    font-size: 16px;
                }
    
                .icon {
                    width: 30px;
                }
    
                .count {
                    font-size: 35px;
                    margin-right: 3px;
                }
            }

            .left {
                font-size: 16px;
                text-align: left;

                .icon {
                    width: 50px;
                    margin-right: 5px;
                }
    
                b {
                    font-size: 17px;
                }
            }
        }

        @include xs-block {

            .date {
                font-size: 13px;
    
                span {
                    font-size: 13px;
                }
    
                .icon {
                    width: 30px;
                }
    
                .count {
                    font-size: 30px;
                }
            }

            .left {
                font-size: 13px;
                text-align: left;

                .icon {
                    width: 50px;
                    margin-right: 5px;
                }
    
                b {
                    font-size: 13px;
                }
            }
        }
    }

    .page-title {
        margin-top: 140px;
        color: #373a40;
        font-size: 50px;
        line-height: 0.95;
        font-weight: 700;
    }

    .page-desc {
        max-width: 500px;
        font-size: 25px;
        line-height: 1.4;
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .btn-primary {
        color: #ffffff;
        font-size: 22px;
        border-width: 1px;
        border-radius: 50px;
        padding: 10px 20px;
        background-color: #5500ff;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;

        &:hover {
            background-color: #7840ab;
        }
    }

    .btn-primary img {
        top: -6px;
        right: -40px;

        @include xs(display, none);
    }

    .content-img {
        display: none;
    }

    @include sm-block {
        background: none;
        text-align: center;
        .content-img {
            display: block;
            margin-top: 50px;
        }

        .page-desc {
            max-width: 100%;
            font-size: 21px;
        }

        .page-title {
            margin-top: 30px;
            color: #373a40;
            font-size: 34px;
            line-height: 0.95;
            font-weight: 700;
        }

            .header-top {
            justify-content: center;
        }
    }

    @include xs-block {
        min-height: auto;

        .page-title {
            font-size: 30px;
        }

        .page-desc {
            font-size: 18px;
            margin: 10px 0;
            margin-bottom: 20px;
        }

        .btn-primary {
            padding: 15px 25px;
            font-size: 18px;
        }
    }
}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    .navbar-contacts {
        display: flex;
        align-items: center;
    }

    .logo {
        width: 130px;
    }
    
    .call-order button {
        background: transparent;
        border: none;
        font-size: 22px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

        &:focus {
            outline: none;
        }
    }

    .telegram {
        margin-left: 10px;

        a {
            font-size: 16px;
            color: #fff;
            background: #0088cc;
            padding: 11px 7px;
            border-radius: 5px;
            transition: background-color .3s;
            box-sizing: border-box;
            display: inline-block;

            @include pulse(#077eb9, 10, telegram);

            &:hover, &:focus {
                background: #077eb9;
            }
        }
    }

    .phone-call {
        text-align: right;
        a {
            font-size: 19px;
            color: #333;
            text-decoration: underline;
        }
    }

    @include md-block {

        .call-order button {
            font-size: 19px;
        }

        .telegram {

            a {
                font-size: 16px;
            }
        }

        .phone-call {
            a {
                font-size: 17px;
            }
        }
    }

    @include sm-block {
        flex-wrap: wrap;

        .logo {
            width: 100%;
        }

        .navbar-contacts {
            flex-direction: column;
            align-items: flex-end;
        }

        .call-order button {
            font-size: 19px;
        }

        .telegram {
            margin: 0;

            a {
                font-size: 16px;
            }
        }

        .phone-call {
            text-align: center;
            margin-bottom: 4px;
            a {
                font-size: 17px;
            }
        }
    }

    @include xs-block {
        .logo img {
            width: 120px;
        }

        .call-order {
            button {
                font-size: 15px;
                padding: 0;
            }
        }

        .telegram {
            a span {
                display: none;
            }

            a {
                padding: 7px 4px;
            }
        }

        .phone-call {
            a {
                font-size: 13px;
            }

            margin-bottom: 7px;
        }
    }
}

.check-list {
    display: flex;
    align-items: center;
    margin-top: 20px;

    @include sm-block {
        display: none;
    }

    i {
        margin-left: 9px;
    }

    img {
        width: 80px;
        margin-right: 10px;
    }

    .popup {
        position: relative;

        &:hover .popup-content {
            display: block;
        }
    }

    .popup-btn {
        font-size: 30px;
        color: #f43076;
    }

    .popup-content {
        position: absolute;
        top: 0px;
        right: -250px;
        display: none;
        width: 250px;
        font-size: 11px;
        line-height: 1.6em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
        box-sizing: border-box;
        padding: 10px 20px;
        border-radius: 15px;
        background-color: #fff;


        h4 {
            font-weight: bold;
        }

        p {
            margin: 10px 0;
        }
    }
}



.call-order-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 11;

    .background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #00000067;
    }

    .content {
        z-index: 123;
    }
}